@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Agustina.otf') format('opentype');
  
}
@font-face {
    font-family: 'font2';
    src: url('fonts/Agustina-1.otf');
}
@font-face {
    font-family: 'font3';
    src: url('fonts/Belguri.otf');
}
@font-face {
    font-family: 'font4';
    src: url('fonts/Bellary.otf');
}
@font-face {
    font-family: 'font5';
    src: url('fonts/Dellamor.otf');
}
@font-face {
    font-family: 'font6';
    src: url('fonts/Dolphina.otf');
}
@font-face {
    font-family: 'font7';
    src: url('fonts/HoperBegin.otf');
}
@font-face {
    font-family: 'font8';
    src: url('fonts/EladornaGladiota-KVVKy.otf');
}
@font-face {
    font-family: 'font9';
    src: url('fonts/Festigan.otf');
}
@font-face {
    font-family: 'font10';
    src: url('fonts/Hanstelly-OGG1e.otf');
}
@font-face {
    font-family: 'font11';
    src: url('fonts/Raistine-Wpp4G.otf');
}
@font-face {
    font-family: 'font12';
    src: url('fonts/YanhirAmolesthic-BLL18.otf');
}
@font-face {
    font-family: 'font13';
    src: url('fonts/Sun\ Beautiful.otf');
}
@font-face {
    font-family: 'font14';
    src: url('fonts/Agustina-Signature.otf');
}
@font-face {
    font-family: 'font15';
    src: url('fonts/BrettleySignatureRegular-RpEMo.ttf');
}
@font-face {
    font-family: 'font16';
    src: url('fonts/Weddingday.ttf');
}
@font-face {
    font-family: 'font17';
    src: url('fonts/DancingScript-Bold.ttf');
}
@font-face {
    font-family: 'font18';
    src: url('fonts/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'font19';
    src: url('fonts/LightStories-q229r.otf');
}
@font-face {
    font-family: 'font20';
    src: url('fonts/Kastria-LVVz4.otf');
}
